name: goreleaser
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v2
        with:
          go-version: ">=1.19.1"
      - id: gh-app-auth
        uses: summerwind/gh-app-auth@main
        with:
          app-id: 244816
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          account: kanmu
      - uses: goreleaser/goreleaser-action@v2
        with:
          distribution: goreleaser
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
