name: test

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
            # Container operations, such as postgres, are only supported on Linux runners
            # - macOS-latest
            # - windows-latest
        go:
          - "1.19.1"
    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
      - name: Prepare planter
        run: |
          psql -U postgres -h localhost -d postgres -c 'CREATE USER dgw_test;'
          psql -U postgres -h localhost -d postgres -c 'CREATE DATABASE dgw_test OWNER dgw_test;'
      - name: Install Go
        uses: actions/setup-go/@v2
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout code
        uses: actions/checkout/@v2

      - name: Run test
        run: go test -v
